body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  }

/* CSS styling for the Navigation Bar */
.navbar {
    background-color: rgb(77, 76, 76) !important;
}

.nav li {
    margin-right: 5px !important;
}

ul a:hover {
    background-color: lightgray !important;
  }

.nav-item a {
    color: teal !important;
    text-decoration-line: underline !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.picText {
    background-color: teal !important;
    padding: 10px !important;
    font-weight: bold !important;
}

/* CSS styling for the About me section */
.grid-items {
    border-right-style: solid !important;
    border-width: 5px !important;
    border-color: darkslategrey !important;
    text-align: right !important;
  }

  .grid-places {
    text-align: justify !important;
  }

  /* CSS styling for the sections elements */
  section {
    margin-bottom: 50px !important;
  }

  /* CSS styling for the Skills section */
  .grid-places ul {
    text-align: center !important;
  }

  /* CSS styling for the Footer section */

  footer ul {
    padding: 50px !important;
    margin-left: 40px !important;
    align-content: space-between !important;
  }
 
  /* CSS styling for the Work section */
  .card {
    border-style: solid !important;
    border-width: 3px !important;
    border-color: lightseagreen !important;
  }

  .card-body h5 {
    background-color: rgb(149, 240, 236) !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: fit-content !important;
    margin-left: 0 !important;
  }

  .card-text {
    font-size: 12px !important;
  }

  /* Applied CSS styling to the Resume section*/
.text-center img {
  border-style: solid !important;
  border-width: 3px !important;
  border-color: lightseagreen !important;
}

  /* applying media query to the CSS styling*/
@media only screen and (max-width: 600px) {
  .grid-items h2 {
    font-size: 12px;
    font-weight: bold;
    border-width: 2px;
    text-align: left;
  }

  .grid-places ul {
    font-size: 12px;
  }
}

@media only screen and (max-width: 300px) {
  .grid-items h2 {
    font-size: 10px;
  }

  .grid-places ul {
    font-size: 9px;
  }

  .picText {
    font-size: 14px;
  }

  nav li {
    font-size: 14px;
  }

}