body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  }

/* CSS styling for the Navigation Bar */
.navbar {
    background-color: rgb(77, 76, 76) !important;
}

.nav li {
    margin-right: 5px !important;
}

ul a:hover {
    background-color: lightgreen;
  }

.nav-item a {
    color: teal !important;
    text-decoration-line: underline !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.picText {
    background-color: teal !important;
    padding: 10px !important;
    font-weight: bold !important;
}

/* CSS styling for the About me section */
.grid-items {
    border-right-style: solid !important;
    border-width: 5px !important;
    border-color: darkslategrey !important;
    text-align: right !important;
  }

  .grid-places {
    text-align: justify;
    padding-right: 80px;
  }
